version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Creating Dummy Artifacts
          command: |
            mkdir -p workspace/artifacts;
            echo "my artifact file" > workspace/artifacts/artifact-1;
            echo "my artifact files in a dir" > workspace/artifacts/artifact-2;
      - persist_to_workspace:
          root: workspace
          paths:
            - artifacts/
      - store_artifacts:
          path: workspace/artifacts/
          destination: artifact-1
      - store_artifacts:
          path: workspace/artifacts/

  test:
    docker:
      - image: cimg/base:stable
      # The secondary container is an instance of the second listed image which is run in a 
      # common network where ports exposed on the primary container are available on localhost.
      - image: mongo:4.2
    steps:
      # Reuse the workspace from the build job
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Demonstrate that Mongo DB is available as localhost
          command: |
            sudo apt update
            sudo apt install mongodb
            mongo localhost --eval 'db.serverStatus()'
      - run:
          name: Test artifacts from build are present in this job
          command: |
            if [[ `cat /tmp/workspace/artifacts/artifact-1` == "my artifact file" ]]; then
              echo "It worked!";
            else
              echo "Nope! :("; exit 1
            fi
  deploy:
    docker: 
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: 
          name: Demonstrate a deployment example
          command: |
            cat /tmp/workspace/artifacts/artifact-2
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - hold:
          type: approval
          requires:
            - build
            - test
      - deploy:
          requires:
            - hold